{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="h-full bg-purple-50 text-gray-900 dark:bg-gray-900 dark:text-gray-300">
        <div class="flex flex-col justify-center p-10">
            <button class="btn-primary">Toggle</button>
            <p class="w-5/12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facilis ipsum perferendis rem vitae? Animi architecto at consequatur dolore eius eos harum illum, nostrum numquam provident quisquam tenetur totam, voluptatibus!</p>
        </div>
    </div>
{% endblock %}
